notepad.md
/shell/keys.sh
/hypr/scripts/password.sh

Kitware/
guvcview2/
retroarch/
variety/
xfce4-dict/
flutter/
fvm/
ghc/
Electron/
VirtualBox/
avizo/
chromium/
dconf/
discord/
gh/
go/
gtk-3.0/
gtk-4.0/
kde.org/
lazydocker/
libfm/
libreoffice/
mpv/
nvim/
nwg-look/
pcmanfm/
pulse/
ristretto/
spicetify/
spotify/
systemd/
xfce4/
xsettingsd/
yay/
dolphinrc
gtkrc
gtkrc-2.0
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
