notepad.md
QtProject.conf
nohup.out
/shell/keys.sh

Kitware/
waybar/waybar-tickers/
neofetch/
fastfetch/
qalculate/
obs-studio/
mako/
guvcview2/
retroarch/
qBittorrent/
variety/
xfce4-dict/
envman/
flutter/
fvm/
ghc/
Electron/
VirtualBox/
avizo/
chromium/
dconf/
discord/
gh/
go/
gtk-3.0/
gtk-4.0/
kde.org/
lazydocker/
libfm/
libreoffice/
nvim/
nwg-look/
pcmanfm/
pulse/
ristretto/
spicetify/
spotify/
systemd/
xfce4/
xsettingsd/
yay/
dolphinrc
gtkrc
gtkrc-2.0
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
