* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 15.5px;
  min-height: 0;
  padding-right: 1px;
  padding-left: 1px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 1px 1px;
}

#workspaces {
  border-radius: 3px;
  margin: 3px;
  background: rgba(16, 16, 16, 0.5);
  margin-left: 1rem;
}

#workspaces button {
  color: #808080;
  border-radius: 3px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #ffffff;
  border-radius: 3px;
}

#workspaces button:hover {
  color: #ffffff;
  border-radius: 3px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: #101010;
  background: rgba(16, 16, 16, 0.5);
  padding: 0.3rem 1rem;
  margin: 3px 0;
  border-radius: 0px 3px 3px 0px;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: #ffffff;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.critical:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #99d1db;
  border-radius: 3px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 3px;
}

#custom-lock {
  border-radius: 3px 0px 0px 3px;
  color: #babbf1;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 3px 3px 0px;
  color: #e78284;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 3px;
}

